*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body { 
    background: linear-gradient(45deg,#0000 calc(25%/3), #13009f 0 calc(50%/3),
      #0000 0 calc(250%/3), #13009f 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,#13009f calc(25%/3), #0000 0 calc(50%/3),
      #13009f 0 25%, #0000 0 75%,
      #13009f 0 calc(250%/3), #0000 0 calc(275%/3),
      #13009f 0),
      linear-gradient(-45deg,#0000 calc(25%/3), #13009f 0 calc(50%/3),
      #0000 0 calc(250%/3), #13009f 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,#13009f calc(25%/3), #0000 0 calc(50%/3),
      #13009f 0 25%, #0000 0 75%,
      #13009f 0 calc(250%/3), #0000 0 calc(275%/3),
      #13009f 0)
      #4841ff;
background-size: 200px 200px;
background-position: 0 0, 100px  100px;

}
.main-container{
    height: 100vh;
}
#namediv{
    display: none;
}
#questionsDiv{
    display: none;
}
#GameCodeDiv{
    display: block;
}
#waiting{
    display: none;
}